# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/

# Data (no versionar raws)
data/raw/*
!data/raw/.gitkeep
!data/raw/SRI_RUC_Provincia.csv

# Outputs
outputs/*
!outputs/.gitkeep
!outputs/release_manifest.json
!outputs/Provincia/**

# OS
.DS_Store
Thumbs.db
